<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753564717002-6mb8frqnu5dla1idhqq4rc8r2memecb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753564717002-6mb8frqnu5dla1idhqq4rc8r2memecb5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753564717002-dqmnqp34j8ovs6d1eht4d837slf3tgri.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsGVBbsigjPuLb0vFnjBm_SMgP6RR_aig</string>
	<key>GCM_SENDER_ID</key>
	<string>753564717002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.refindApp</string>
	<key>PROJECT_ID</key>
	<string>myrefindapp</string>
	<key>STORAGE_BUCKET</key>
	<string>myrefindapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753564717002:ios:1bf19e28929ed512e0c933</string>
</dict>
</plist>